/* Home.css */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.4); /* Dark overlay for better text readability */
}

.card-title-overlay, .card-text-overlay {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}

.word span {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.butterfly {
  position: fixed;
  width: 100px; /* Adjust the size as needed */
  transition: transform 0.5s ease-out;
}

.container {
  text-align: center;
}

img.card-img {
  height: 100vh; /* Make the image cover the full viewport height */
  object-fit: cover; /* Ensure the image covers the entire area */
}
